

.tabs-header {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.tab-label {
  padding: 10px 15px;
  background-color: #363333;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
  border-radius: 5px;
}

.tab-label.active {
  background-color: #83926c77;
  color: white;
  font-weight: bold;
}

.tab-content { 
  border-top: 2px solid #ddd; 
}